body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 30px;
}
.name-color {
  color: deeppink;
}
.Flexible-container {
  display: flex;
}
.half-wadth {
  width: 50%;
  padding: 5px;
}
.half-wadth img {
  width: 50%;
}
.link-button {
  text-decoration: none;
  background-image: linear-gradient(orange, red);
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 5px;
}
.top-baner {
  background-image: url(image/top-banner.png);
  background-repeat: no-repeat;
}
.deam-big {
  background-image: url(image/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.experience-item {
  box-shadow: 10px 10px 40px gray;
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 20px;
  border-radius: 10px;
}
#web-dev-experience{
  border-left: 7px solid;
  border-image: linear-gradient(blue, green);
    border-image-slice: 1;
}

#stack-web-dev-experience{
  border-left: 7px solid;
  border-image: linear-gradient(red , orange);
    border-image-slice: 1;
}
footer p {
  text-align: center;
}